* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  /* background-color: red; */
  width: 100%;
  height: 100%;
}
.contactTop {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  padding: 0 100px 0 10px;
  background-color: rgba(34, 122, 255, 1);
}
.contactTop i {
  font-size: 11px;
  letter-spacing: 1px;
  /* color: red; */
}
.contactTop .contactItems {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 10px;
}

.contactTop .contactSocials i {
  font-size: 15px;
  margin: 5px;
}
.contactTop .profile {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.profile i {
  font-size: 15px;
}
/* Content  Section Start*/
.content {
  width: 100%;
  height: auto;
  background-image: url(./content2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* Navbar In Content Start */
.navbar {
  width: 100%;
  padding: 15px 50px 0px 50px;
  /* height: 50px; */
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar img {
  width: 170px;
  height: auto;
}
.navbar ul {
  color: white;
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 20px;
  text-transform: uppercase;
}
.navbar hr {
  height: 35px;
  width: 0.01px;
  opacity: 0.3;
  margin-left: 15px;
}
.navbar ul li:hover {
  color: rgba(34, 122, 255, 1);
}
.content .search {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.search .search-icon i {
  border: 2px solid white;
  padding: 7px;
}
.nav-line {
  height: 0.1px;
  opacity: 0.3;
}
/* tagline start */
.tagline {
  width: 50%;
  /* background-color: yellow; */
  text-transform: capitalize;
  color: white;
  font-size: 20px;
  margin: 100px 0 100px 350px;
}
.tagline h1 {
  margin-bottom: 30px;
}
.tagline .input {
  background-color: whitesmoke;
  height: 50px;
  width: 60%;
  margin: 30px 0 30px 130px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  border-radius: 10px;
}
.input input {
  padding: 15px 40px 15px 10px;
  width: 100%;
  border: none;
  margin-right: 10px;
  color: rgba(161, 161, 161, 0.486);
  background-color: transparent;
  font-size: 15px;
  letter-spacing: 1px;
  outline-style: none;
}
.input i {
  color: rgba(161, 161, 161, 0.486);
}
.explore-section {
  width: 100%;
  letter-spacing: 1px;
  /* line-height: 15px; */
  font-weight: 400;
  font-size: 15px;
  color: white;
  margin: 10px 0 10px 0;
}
.explore-images {
  display: flex;
  align-items: center;
  width: 100%;
}
.explore-images img {
  width: 200px;
  margin: 30px;
}
.text-anim {
  color: rgb(8, 127, 247);
  font-size: 50px;
}
/* Content end */
/* Content 2 starts */
.content2 {
  width: 100%;
  height: auto;
  padding: 0px 100px 0 100px;
  text-align: center;
}
.content2 h1 {
  font-size: 5vh;
  letter-spacing: 4px;
  font-weight: 600;
  margin-bottom: 30px;
}
.content2 .sections {
  width: 100%;
  height: auto;
  display: flex;
  gap: 80px;
}
.sections .section1 img {
  width: 350px;
  height: 100%;
}
.sections .section2 {
  text-align: start;
  font-size: 15px;
  font-weight: 500;
}
.section2 button {
  padding: 10px 30px;
  background-color: rgb(66, 66, 206);
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  font-size: 15px;
  bottom: 0;
  border-radius: 4px;
}
.section2 button:hover {
  background-color: rgb(37, 37, 133);
  transition: all 2s ease;
  font-size: 15px;
}
.section2 a {
  color: rgb(8, 127, 247);
  text-decoration: none;
}
.section2 p{
  color: black;
}
/* Content2 end */
/* content3 start */
.content3 {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px;
}
.content3 h2 {
  font-size: 40px;
  font-weight: 500;
}
.content3 .vectors {
  display: flex;
}
.content3 .vectors img {
  margin: 30px;
  display: flex;
  justify-content: center;
}
.images {
  width: 30%;
  gap: 30px;
  margin: 0 0px 30px 50px;
}
.images h3 {
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.images p {
  color: gray;
  font-size: 15px;
}
.trendAndtech {
  padding: 0 80px;
  text-align: center;
}
.trendAndtech h4 {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 500;
}
.trend-content {
  width: 65%;
  margin-left: 200px;
}

.row1,
.row2 {
  display: flex;
  justify-content: center;
  padding: 50px 50px 0 50px;
}
.row2 {
  margin-top: 0px;
}
.card {
  margin: 20px;
  width: 30%;
  text-align: center;
  padding: 15px 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgb(228, 227, 227);
}
.card img {
  width: 70px;
  margin-bottom: 10px;
}
.card h3 {
  font-size: 15px;
  font-weight: 600;
}
/* Content 3 End */
/* Content 4 Start */
.recomended {
  width: 100%;
  text-align: center;
}
.recomended h2 {
  font-size: 2.5vw;
  letter-spacing: 2px;
  margin-top: 30px;
}
.recomended .courses {
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.recomended .course-card {
  width: 18%;
  text-align: start;
}
.course-card:hover {
  transform: scaleY(1.2);
  transition: all ease 0.5s;
}
.course-card img {
  width: 100%;
}
.course-card h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 10px 0;
}
.course-card p {
  margin: 10px 120px 10px 0;
  color: grey;
  font-size: 15px;
}
.course-card .time-views {
  width: 90%;
  background-color: rgb(221, 217, 217);
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  color: gray;
}
.course-card .line {
  width: 90%;
  height: 1px;
  background-color: rgb(224, 218, 218);
  margin: 20px 0 30px 0;
}
/* Reviews and Price Section of the card */
.price-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-rating .rating {
  width: 50%;
  font-size: 12px;
}
.price-rating .price {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}
.course-card button {
  background-color: rgb(8, 127, 247);
  padding: 10px 35px;
  border: none;
  color: white;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}
/* Content 4 End */
/* Content 5 Navigation Buttons start */
.navigation-buttuns {
  text-align: center;
}
.navigation-buttuns button {
  padding: 10px 15px;
  border: none;
  background-color: rgb(181, 229, 248);
  margin: 10px;
  text-align: center;
  width: 40px;
  color: rgb(8, 127, 247);
  border-radius: 5px;
  cursor: pointer;
}
.navigation-buttuns button:nth-child(1) {
  background-color: rgb(8, 127, 247);
  color: rgb(248, 248, 248);
}
.navigation-buttuns button:nth-child(5) {
  width: 60px;
}
/* Content 5 Navigation Buttons end */
/* Content 6 Internship Start */
.internship {
  width: 100%;
  height: auto;
  padding: 50px 70px;
  align-items: center;
  text-align: center;
}
.internship button {
  background-color: rgb(8, 127, 247);
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
.internship .intern-tag {
  margin-left: 450px;
}
.internship .intern-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.intern-cards .i-card {
  width: 30%;
  box-shadow: 5px 5px 15px gray;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: start;
}
.i-card:hover {
  transform: scale(1.01);
  transition: 0.5s ease all;
}
.intern-cards .intern-card {
  width: 100%;
}
.intern-card-top {
  width: 100%;
  height: auto;
  background-image: url(./content2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  letter-spacing: 2px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.intern-card-top .intern-card-img img {
  width: 80px;
}
.intern-card-1 .line2 {
  height: 1px;
  background-color: white;
  margin: 10px 0 5px 0;
}
.intern-card-1 p {
  color: rgb(173, 171, 171);
  font-size: 13px;
  font-weight: 500;
}
.description {
  width: 100%;
  text-align: center;
}
.description .details {
  display: flex;
  padding: 10px;
  font-size: 1vw;
  font-weight: 600;
  align-items: center;
}
.description.internship button {
  background-color: rgb(8, 127, 247);
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
.details i {
  background-color: rgb(206, 226, 238);
  color: rgb(8, 127, 247);
  margin-right: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  font-size: 15px;
}
.details p {
  margin-left: 20px;
  background-color: rgb(231, 239, 243);
  padding: 2px 5px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
}
/* Content 6 Internship End */
/* conten 7 learning-anywhere start */
.learning-anywhere{
  display: flex;
  width: 100%;
  height: 100%;
}
.learning-anywhere .learning-1{
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
padding: 30px;
}
.learning-2 h2{
  font-size: 40px;
  letter-spacing: 2px;
  margin: 100px 0 0 50px;
}
.learning-2 strong{
  color: rgb(38, 123, 250);
}
.learning-2{
  width: 50%;
  text-align: start;
}
.learning-2 p{
  width: 80%;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 40px;
  margin-left: 55px;
  color: black;
}
.learning-2 .App-stores{
  text-align: start;
  width: 80%;
  margin: 20px 0 0 60px;
}
.App-stores img{
  margin-left: 10px;
}
.learning-1 .circle{
  width: 500px;
  height: 500px;
  background-color: rgb(38, 123, 250);
  border-radius: 50%;
  position: relative;
}
 .circle img{
  width: 60%;
  height: auto;
 } 
/* conten 7 learning-anywhere End */
/* Section Lasr start */
.section-last{
  width: 100%;
  height: auto;
  margin-top: 30px;
  text-align: center;
  /* background-image: url(./content.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(3, 76, 187);
  padding: 10px 30px;
}
.section-last img{
  width: 100%;
}
.section-last a, p{
  color: white;
  font-size: 15px;
}
.section-last h2{
  font-size: 3vw;
  width: 50%;
  margin: 50px 0 50px 300px;
  color: white;
}
.section-last strong{
  color: rgb(38, 123, 250);
}
.informtion{
  color: white;
  display: flex;
  padding: 10px 20px;
}
.informtion h3{
  margin-bottom: 20px;
}
.about{
  width: 25%;
font-size: 15px;
  padding: 30px;
  text-align: start;
}
.popular-courses{
  width: 25%;
  padding: 30px;
  text-align: start;

  
}
.popular{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  text-align: start;
  gap: 40px;
  font-size: 15px;
  /* background-color: crimson; */
  letter-spacing: 1px;
font-weight: normal;
margin-top: 20px;
}
.popular-courses h5{
  text-align: start;
  color: gray;
}
.popular img{
  width: 80px;
}
.pages{
  width: 25%;
  padding: 30px;
  text-align: start;
  line-height: 30px;
}
.contact{
  padding: 30px;
  width: 25%;
  text-align: start;
}
.contact-info{
  display: flex;
  gap: 20px;
  margin: 30px;
  text-align: start;
}
.contact-info p{
  font-size: 13px;
  width: 100%;
}
.contact-info i{
  color: rgb(38, 123, 250);
}
/* Section Lasr end */
